In [1]:
import pandas as pd
import numpy as np
from math import factorial as fl

## Задание 1

In [2]:
data = pd.Series([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])

In [3]:
ME = data.sum() / data.count()
ME

65.3

In [4]:
SD = np.sqrt(((data - ME) ** 2).sum() / data.count())
SD

30.823854398825596

In [5]:
variance = ((data - ME) ** 2).sum() / data.count()
variance

950.11

In [6]:
variance2 = ((data - ME) ** 2).sum() / (data.count() - 1)
variance2

1000.1157894736842

## Задание 2

In [7]:
PA11 = (fl(5) / (fl(2) * fl(5 - 2))) * (fl(3) / (fl(0) * fl(3 - 0))) / (fl(8) / (fl(2) * fl(8 - 2)))
PA12 = (fl(5) / (fl(1) * fl(5 - 1))) * (fl(7) / (fl(3) * fl(7 - 3))) / (fl(12) / (fl(4) * fl(12 - 4)))
PA21 = (fl(5) / (fl(1) * fl(5 - 1))) * (fl(3) / (fl(1) * fl(3 - 1))) / (fl(8) / (fl(2) * fl(8 - 2)))
PА22 = (fl(5) / (fl(2) * fl(5 - 2))) * (fl(7) / (fl(2) * fl(7 - 2))) / (fl(12) / (fl(4) * fl(12 - 4)))
PA31 = (fl(5) / (fl(0) * fl(5 - 0))) * (fl(3) / (fl(2) * fl(3 - 2))) / (fl(8) / (fl(2) * fl(8 - 2)))
PA32 = (fl(5) / (fl(3) * fl(5 - 3))) * (fl(7) / (fl(1) * fl(7 - 1))) / (fl(12) / (fl(4) * fl(12 - 4)))

In [8]:
result = PA11 * PA12 + PA21 * PА22 + PA31 * PA32
result

0.3686868686868687

## Задание 3

In [9]:
PA = 1 / 3 * 0.9 + 1 / 3 * 0.8 + 1 / 3 * 0.6
PA

0.7666666666666666

In [11]:
# Шанс что попал первый стрелок 
result = 1 / 3 * 0.9 / PA
result

0.391304347826087

In [12]:
# Шанс что попал второй стрелок 
result = 1 / 3 * 0.8 / PA
result

0.3478260869565218

In [13]:
# Шанс что попал третий  стрелок 
result = 1 / 3 * 0.6 / PA
result

0.2608695652173913

## Задание 4

In [14]:
PA = 1 / 4 * 0.8 + 1 / 4 * 0.7 + 2 / 4 * 0.9
PA

0.825

In [20]:
# Студент учится на факультете А 
result = 1 / 4 * 0.8 / PA
result

0.24242424242424246

In [17]:
# Студент учится на факультете В 
result = 1 / 4 * 0.7 / PA
result

0.21212121212121213

In [19]:
# Студент учится на факультете С
result = 2 / 4 * 0.9 / PA
result

0.5454545454545455

## Задание 5

In [24]:
# Из строя вышли все детали
detals_1 = 0.1* 0.25 *0.2
detals_1

0.005000000000000001

In [23]:
# Из строя вышли 2 детали
detals_2 = 0.1 * 0.2 * 0.75 + 0.1 * 0.8 * 0.25 + 0.9 * 0.2 * 0.25
detals_2

0.08000000000000002

In [26]:
# Из строя вышла хотя бы одна деталь 
detals_3 = 1 - 0.9 * 0.75 * 0.8
detals_3

0.45999999999999996

In [28]:
# Из строя вышли от одной до двух деталей 
detals_4 = 0.9 * 0.2 * 0.25 + 0.1 * 0.8 * 0.25 + 0.1 * 0.2 * 0.75
detals_4 
result = detals_2 + detals_4
result

0.16000000000000003